* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hamburger-close-button {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url(./images/mobile/image-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.header-class {
  padding: 4rem 2.4rem 0 2.4rem;
  display: flex;
  justify-content: space-between;
}
.hamburger-button {
  /* position: absolute;
  right: 3rem;
  bottom: 1rem; */
  /* justify-self: flex-end; */
}
.top-h1-div {
  padding: 0 2.4rem;
  margin-top: 19rem;
  margin-bottom: 30.7rem;
}

.top-h1-class {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  line-height: 38px; /* 95% */
  text-transform: uppercase;
  padding: 2.4rem;
  border: 2px solid #fff;
}
.middle-div {
  padding: 0 2.6rem;
  margin-bottom: 9.6rem;
}
.middle-one-photo {
  width: 100%;
}
.middle-h2-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
}
.middle-h2 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.middle-parag {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  width: 28ch;
  font-family: "Alata", sans-serif;
}
.alone-h2-in-middle-div {
  margin-bottom: 4.8rem;
}
.alone-h2-inMiddle {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
}
.eight-photo-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 2.4rem;
  padding: 0 2.4rem;
  position: relative;
  margin-bottom: 3.4rem;
}
.pic {
  width: 100%;
}
.picd {
  display: none;
}
.span {
  position: absolute;
  left: 4rem;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  width: 8ch;
}
.deep-earth-m {
  top: 5rem;
}
.night-arcade-m {
  top: 20rem;
}
.soccer-team-vr-m {
  top: 35rem;
}
.the-grid-m {
  top: 50rem;
  width: 3ch;
}
.from-up-above-vr-m {
  top: 60rem;
  width: 10ch;
}
.pocket-borealis-m {
  top: 78rem;
}
.the-curiosity-m {
  top: 92rem;
}
.make-it-fisheye-m {
  top: 107rem;
}
.see-button {
  color: #000;
  font-family: Alata;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0.01rem solid #000;
  padding: 1.5rem;
  width: 50%;
  margin-bottom: 9.6rem;
}
.footer-class {
  padding: 5.6rem 0;
  display: flex;
  flex-direction: column;
  background: #000;
}
.footers-first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.footer-image {
  margin-bottom: 3.2rem;
}
.botom-span {
  color: #fff;
  font-family: Alata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  display: block;
}
.footers-second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.footers-last-span {
  color: #fff;
  font-family: Alata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.icons-div {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
