* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;

  background-image: url(./images/mobile/image-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.hamburger-button {
  display: none;
}
.hamburger-close-button {
  display: none;
}
.middle-one-photo {
  width: 100%;
}
